.title-img {
  height: 100px;
  padding-left: 15px;
}

.dr-dropdown {
  width: 250px;
  padding: 15px 15px 0px 0px;
}

.axis path, .axis line {
  fill: none;
  stroke: #36454F;
  shape-rendering: crispEdges;
}

.axis text {
  display:none;
}

.drdot {
  stroke: #36454F;
  fill: #36454F;
}

.node.active {
  fill:#77A15C;
}

.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.header-box {
  background-color: #f5f5f5;
}

.plot-header {
  text-align: center;
}

.plot-header-text {
  font-family: 'Tangerine', serif;
}

#hover {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 10;
}

.my-tooltip-class {
  border: 1px #4994cb solid;
  border-radius: 6px;
  background-color: #fff;
  padding: 8px;
  margin: 0 0 0px 0;
}

td {
  padding: 0px 10px 0px 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.btn {
	padding: 7px 12px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #0099cc;
	color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
	background: #007299;
	box-shadow: none;
}
